
nav {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.616);
}
.links {
  margin: 10px;
}
h1 {
  color: white;
}
.navlink {
  position: relative;
  right: 0;
  outline: solid white;
  height: 80%;
  padding: 10px;
  background: black;
  color: white;
  text-decoration: none;
}
#order-pizza {
  position: absolute;
  color: white;
  border: solid white;
  background: black;
  text-decoration: none;
  left: 45%;
 z-index: 7;
  font-size: 20px;
}
#pizza-form {
  z-index: 8;
}